
body {
  font-family: Verdana, 'BitStream vera Sans', Helvetica, sans-serif;
  margin: 0;
  padding: 1em;
}

h1 {
  text-align: center;
}

fieldset {
  label {
    display: inline-block;
    width: 5em;
    margin: 0 1em 0 0;
  }

  input {
    padding: 0.5em 0.6em;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-shadow: inset 0 1px 3px #ddd;
    box-sizing: border-box;
    vertical-align: middle;
    width: 15em;
    margin-bottom: 0.5em;
  }

  .field_with_errors {
    display: inline;

    input {
      background-color: #faa;
    }
  }
}

input[type=submit] {
  font-size: 1.25em;
  border-radius: 4px;
  margin: 0.5em 0 2em;
}

.listing {
  width: 100%;
  margin: 1em auto;
  border: 1px solid #ddd;
  border-collapse: collapse;

  tr:nth-child(even) {
    background-color: #eee;
  }

  th,
  td {
    text-align: left;
    border-top: 1px solid #ddd;
    padding: 0.5em 1em;
  }

  .empty {
    opacity: 0.3;
  }
}
